/* Buttons */
.bt {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border: 0;
    border-radius: $border-radius;
    padding: 0 2.6rem;
    background: $color-primary;
    color: $text-color-secondary;
    font-size: 1.4rem;
    font-weight: 600;
    @include transition;
    margin-left: 1.5rem;
    font-family: $font-family-base;

    &:hover {
        background: $color-secondary;
        cursor: pointer;
    }

    &:active {
        background: $color-primary-dark;
    }

    &:focus {
        outline: none;
    }

    &--secondary {
        background: #E1E7FD;
        color: $color-primary;

        &:hover {
            background: darken(#E1E7FD, 7);
        }
    }
}