/*
* Tools-list Component
*/
.tools-list {
    margin-top: 5rem;

    &__row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    &__col {
        flex-grow: 1;
        max-width: 50%;
        display: flex;
        align-items: center;
    }

    &__item {
        margin-top: 2rem;
        padding: 2.5rem;
        background: #FFF;
        border-radius: $border-radius;
        box-shadow: 0 0 0 #EBEAED;
        border: solid 0.1rem #EBEAED;
        @include transition;

        &:hover {
            box-shadow: 0 0.5rem 0.7rem #EBEAED;
        }

        &__title {
            display: inline-block;
            margin: 0;
            color: $color-primary;
            // text-decoration: underline;
            @include transition;
            font-size: 2rem;

            &:hover {
                cursor: pointer;
                color: $color-primary-dark;
            }
        }

        &__description {
            margin-top: 2rem;
        }
    }
}