/*
* Tools-list Component
*/
.tools-list {
    margin-top: 5rem;

    &__container {
        @include make-container($container);
    }

    &__filter {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__add,
        &__search {
            flex-grow: 1;
            max-width: 50%;
        }

        &__search {
            display: flex;
            align-items: center;

            .input {
                flex-grow: 1;
                max-width: 50%;
            }
        }

        &__add {
            text-align: right;
        }
    }

    &__items {
        margin-bottom: 2rem;
    }
}