/*
* Variables
*/
// colors
$color-primary: #365DF0;
$color-primary-dark: #244AA8;
$color-secondary: #2F55CC;
$color-error: #F95E5A;
$color-success: #12DB89;
$text-color: #170C3A;
$text-color-secondary: #FFFFFF;
$body-bg: #FCFCFD;
$font-family-base: 'Source Sans Pro', sans-serif;
$font-size-base: 1.6rem;
$font-weight-base: 400;
$line-height-base: 1.2em;
$h1-size: 4.2rem;
$h3-size: 3rem;
$border-radius: 0.5rem;
$border-color: #DEDCE1;
$bp-xl: 1128px;
$bp-lg: 1024px;
$bp-md: 910px;
$bp-sm: 769px;
$bp-xs: 470px;
$container: 112rem;
$img-dir: './assets/img';